* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("images/CSS-Animated-Backgrounds-2.gif");
  /* background-image: url(images/bg3.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.888);
}

table {
  padding-left: 2px;
  /* width: 900px; */
  /* height: 450px; */
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, 0.24);
  border: 5px solid black;
  border-radius: 30px;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
#submit {
  float: right;
  width: 120px;
  margin-right: -25%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.503);
  color: white;
  border-radius: 20px;
}
#submit:hover {
  cursor: pointer;
}
